<!DOCTYPE html>
<html layout:decorate="~{layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>

    <div class="alert alert-danger" th:if="${subjectErrorMsg != null}" th:text="${subjectErrorMsg}"></div>
    <div class="alert alert-danger" th:if="${contentErrorMsg != null}" th:text="${contentErrorMsg}"></div>

    <form th:action="@{/question/create}" method="post">
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input th:value="${questionForm?.subject}" type="text" name="subject" id="subject" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:text="${questionForm?.content}" name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>