<h2>질문 리스트</h2>

<div th:text="${#strings.substring('Hello, Thymeleaf!', 0, 5)}"></div>

<table border="1">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="question, loop : ${questionList}">
            <td>
                <!--[[${loop.index}]]/[[${loop.size}]]-->
                [[${loop.count}]]
            </td>
            <td>
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
            </td>
            <!--<td>
                [[${#strings.substring(question.createDate, 2, 16)}]]
            </td>-->
            <td th:text="|Date. ${#strings.substring(question.createDate, 2, 16)}분|"></td>
        </tr>
    </tbody>
</table>